/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-banner {
    background-color: black;
    width: 1400px;
    height: 750px;
    border-radius: 30px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin-left: 100px;
    color: #FFFFFF;
}

.paragraph {
    color: aliceblue;
    margin-left: 100px;
    margin-top: -30px;
    margin-bottom: 50px;
}
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 620px;
    height: 650px;
    padding-top: 106px;
}

.link-button {
    text-decoration: none;
    background-color: rgb(230, 43, 43);
    padding: 15px 40px;
    color: white;
    font-size: 20px;
    font-weight: 550;
    border-radius: 5px;
    margin-left: 100px;
}

/* button styles */
.container {
    width: 1400px;
}

.container-body {
    display: flex;
    margin-top: 80px;
    gap: 20px;
}

.button-box {
    align-items: center;
    background-color: black;
    border-radius: 10px;
    width: 600px;
    height: 300px;

}

.button-part {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 200px;
    height: 200px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    padding: 60px 70px 70px 120px;
}

.button {
    border-radius: 5px;
    color: rgb(2, 2, 2);
    background-color: white;
    font-weight: 200;
    margin-bottom: 15px;
    text-decoration: none;

}

.button-match {
    text-decoration: none;
    background-color: rgb(230, 43, 43);
    padding: 5px 6px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-left: 5px;
    width: 90%;
}

.match {
    border: 0.5px solid #e0cdcd;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.match-details {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.match-details img {
    width: 115px;
    height: 70px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-info {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 30px;
}

h6 {
    color: #4d4d4d;
}



/* footer part  */
footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}

.big-text-1 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.big-text-2 {
    font-size: 25px;
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.social-media {
    font-size: 50px;
}